<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.architecture.mapper.CharacterSetsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.architecture.entity.CharacterSets">
        <result column="CHARACTER_SET_NAME" property="characterSetName" />
        <result column="DEFAULT_COLLATE_NAME" property="defaultCollateName" />
        <result column="DESCRIPTION" property="description" />
        <result column="MAXLEN" property="maxlen" />
    </resultMap>

</mapper>
